* {
    margin: 0px;
    padding: 0px;
}
.bounce {
    position: relative;
}
.ball {
    position: absolute;
    top: 100px;
    left: 130px;
    animation-name: bounce_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ball_img {
    width: 200px;
    height: 200px;
}
@keyframes bounce_animation {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(1080px);
    }
    50% {
        transform: translate(1080px, 450px);
    }
    75% {
        transform: translateY(450px);
    }
    100% {
        transform: translateX(0px);
    }
}